@media screen and (max-width: 1100px) {
    .main-content {
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    #content {
        display: flex;
        flex-direction: column;
    }

    .header {
        min-height: 160px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
        .header .header-button-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
        }
    
    .menu .menu-hamburger {
        display: flex;
    }

    .main-content {
        min-height: 80vh;
        height: auto;
    }

    .footer {
        height: 70px;
    }
}