@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Source+Sans+Pro&display=swap');

:root {
    --red: #bd3747;
    --green: #8effa0;
    --light-gray1: #edf2f4;
    --light-gray2: #becedd;
    --light-gray3: #aabbca;
    --gray1: #8894aa;
    --gray2: #5d6a83;
    --dark-gray: #2b2d42;
    --darkest-gray: #1f202e;
    --footer: #8dacb9;
    --footer-border:#424b4e;

    --priority-red: #ff8e8e;
    --priority-yellow: #eaff8e;
    --priority-green: #8effa0;
    --priority-unset: #72a4af;

    --font-lato: 'Lato', sans-serif;
    --font-source-sans: 'Source Sans Pro', sans-serif;
}

button {
    border: none;
    padding: 5px;
    margin: 0;
    background-color: white;
    font-family: var(--font-source-sans);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;

}

body > * {
    box-sizing: border-box;
    font-family: var(--font-lato);
}

#content {
    width: 100%;
    min-height: 100%;
    height: auto;
    box-sizing: border-box;
    
    display: grid;
    grid-template-columns: 225px 1fr;
    grid-template-rows: 70px 1fr 70px;
    grid-template-areas:
        "header header"
        "menu content"
        "footer footer";
}

.header {
    grid-area: header;
    background-color: var(--dark-gray);
    color: var(--light-gray1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}
    .header .header-button-container {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header .header-title {
        font-size: 2rem;
    }
    .header button {
        width: 100px;
    }
    .header button.header-delete {
        background-color: var(--red);
    }
    .header button.new-project {
        background-color: var(--light-gray2);
    }

.menu {
    grid-area: menu;
    background-color: var(--darkest-gray);
    border-right: 2px solid var(--darkest-gray);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    gap: 2px;
}
    .menu button {
        width: 100%;
        height: 50px;
        background-color: var(--light-gray3);
    }
    .menu ul {
        width: 100%;
        height: auto;
        display: flex;
        gap: 2px;
        flex-direction: column;
        align-items: flex-end;
    }
        .menu ul li {
            width: 85%;
            height: 25px;
            padding-left: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .menu ul li button {
            height: 100%;
            width: 100%;
            background-color: var(--gray1);
        }


.to-do-content {
    background-color: var(--light-gray1);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    position: relative;
}
    .new-project-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 300px;
        overflow: auto;
        width: 325px;
        padding: 10px;
        background-color: var(--light-gray2);
        z-index: 1;
        position: absolute;
        left: 20px;
        top: 20px;

    }
        .new-project-form .input-container {
            display: flex;
            gap: 5px;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
        }
        .new-project-form textarea {
            height: 100px;
            overflow:auto;
        }
        .new-project-form .form-buttons-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
            .form-buttons-container .submit-new-project {
                width: 100px;
                background-color: var(--green);
            }
            .form-buttons-container .cancel-new-project {
                width: 100px;
                background-color: var(--priority-red);
            }


.project-display {
    height: 300px;
    width: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--gray2);
    color: var(--light-gray1);
}

.mobile-menu {
    display: none;
    background-color: var(--gray1);
}
.mobile-menu > * {
    display: none;
}

.footer {
    grid-area: footer;
    background-color: var(--footer);
    border-top: 2px solid var(--footer-border);
}


@media screen and (max-width: 1100px) {
    .to-do-content {
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    #content {
        display: flex;
        flex-direction: column;
    }

    .header {
        min-height: 160px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
        .header .header-button-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
        }

    .menu {
        display: none;
    }
    .mobile-menu > * {
        display: flex;
    }
    .mobile-menu {
        height: auto;
        display: flex;
        gap: 2px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--gray2);
    }
    .mobile-menu button {
        background-color: var(--gray1);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile-menu button img {
        height: 25px;
        width: 25px;
    }
        .mobile-menu .mobile-drop-down-container {
            height: auto;
            width: 100%;
            display: flex;
            gap: 2px;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: var(--gray2);
            
        }
        .mobile-drop-down-container button {
            height: 40px;
            width: 100%;
            background-color: var(--light-gray2);
        }
        .mobile-drop-down-container :nth-child(4){
            border-bottom: 2px solid var(--gray2);
        }

    .to-do-content {
        min-height: 80vh;
        height: auto;
    }

    .footer {
        height: 70px;
    }



    
}
